<!DOCTYPE html>
<html>
  <body style="background-color: #222533; padding: 20px; font-size: 14px; line-height: 1.43; font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;">
    <div style="max-width: 600px; margin: 0px auto; background-color: #fff; box-shadow: 0px 20px 50px rgba(0,0,0,0.05);">
      <table style="width: 100%;">
        <tr>
          <td style="background-color: #fff;">
            <img alt="" src="{{URL}}/Public/img/logo.png" style="width: 70px; padding: 20px">
          </td>
          <td style="padding-left: 50px; text-align: right; padding-right: 20px;">
            <a href="{{URL}}/login" style="color: #261D1D; text-decoration: underline; font-size: 14px; letter-spacing: 1px;">Sign In</a><a href="#" style="color: #7C2121; text-decoration: underline; font-size: 14px; margin-left: 20px; letter-spacing: 1px;">Sign up</a>
          </td>
        </tr>
      </table><div style="padding: 60px 70px; border-top: 1px solid rgba(0,0,0,0.05);">
        <h1 style="margin-top: 0px;">
          Hey There,
        </h1>
        <div style="color: #636363; font-size: 14px;">
          You recently requested to reset your password for your ... account. Click the button below to reset it.
        </div>
        <a href="{{URL}}/auth/reset/{{token}}" style="padding: 8px 20px; background-color: #4B72FA; color: #fff; font-weight: bolder; font-size: 16px; display: inline-block; margin: 20px 0px; margin-right: 20px; text-decoration: none;">Reset your password</a>
        <div style="color: #636363; font-size: 14px; margin-top: 30px;">
          If you did not request a password reset, pelase ignore this email or reply to let us know. This password reset is only valid for the next 5 minutes.<br><br>Thanks,<br> ....
        </div>
        <h4 style="margin-bottom: 10px;">
          Questions?
        </h4>
        <div style="color: #A5A5A5; font-size: 12px;">
          <p>
            If you have any questions you can simply reply to this email or find our contact information below. Also contact us at <a href="#" style="text-decoration: underline; color: #4B72FA;">test@example.com</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
